{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1 class="alert laert-info">WELCOME TO YOUR PROFILE PAGE</h1>
    <h6 class="alert alert-success">You made it</h6>
  </div>
   {% for new in news %}
    <div class="card bg-light">
      <div class="col-md-6">
        <img src="{{new.articles_image.url}}" class="img-responsive" width="250px" alt="Image">                
      </div>
      <div class="col-md-6">
        <h5>Title:{{new.title}}</h5>
        {% autoescape on %}
          <p>{{news.post|safe}}</p>
        {% endautoescape %}
        <p>{{new.editor}}</p>
        <p>{{new.pub_date}}</p>
      </div>
    </div>
    <hr>  
    {% endfor %}  

{% endblock content %}
